@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

header {
  background-color: rgba(15, 15, 15, 0.829);
  align-items: center;
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
}
.container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-logo {
  font-size: 1.9rem;
  font-weight: 700;
}

#menu-nav {
  display: flex;
  align-items: center;

  height: 30px;
}

#menu {
  display: flex;
  list-style: none;
  align-items: start;
  width: max-content;
  gap: 5px;
}

#menu li a {
  font-size: 1.1rem;
  padding: 5px;
  color: #e1e1e1;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.2s;
}

#menu li a:hover {
  background: rgba(59, 59, 59, 0.445);
  color: #00df5e;
}

#btn-mobile {
  display: none;
}

/* @media (max-width: 400px) {
  header {
    height: 3rem;
  }
  .container {
    width: 100%;
    justify-content: space-between;
  }
  #btn-mobile {
    display: block;
  }

  #menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 60px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    background-color: rgb(43, 43, 43);
    transition: 0.6s;
    overflow-y: hidden;
    height: 0;
    z-index: 10;
  }

  #menu-nav.active #menu {
    visibility: visible;
    overflow-y: auto;
    height: max-content;
  }

  #menu li {
    border-bottom: 2px solid gray;
  }

  #menu-nav {
    justify-content: end;
    width: 100%;
  }

  #hamburguer {
    border-top: 1px solid white;
    width: 20px;
    display: block;
  }
} */
